<div id="subproblem_{{key}}_choice" style="display:none;">
    <div class="container p-3 mt-1 mb-1 border border-primary parsons-item" id="choice-item-PID-CHOICE" draggable="true">
        <div class="row">
            <input type="text" class="col ml-2 mr-2 form-control {{key}}_content_CHOICE" id="choice-content-PID-CHOICE" name="problem[PID][choices][CHOICE][content]" placeholder="[EMPTY]">
        </div>
        <div class="row mt-1">
            <input type="number" class="col form-control ml-2 {{key}}_indent_CHOICE" id="choice-indent-PID-CHOICE" name="problem[PID][choices][CHOICE][indent]" placeholder="Indentation">

            <input type="number" class="col form-control ml-2 {{key}}_line_CHOICE" id="choice-line-PID-CHOICE" name="problem[PID][choices][CHOICE][line]" placeholder="Line">

            <input type="checkbox" style="display: none" id="choice-distractor-PID-CHOICE" name="problem[PID][choices][CHOICE][distractor]"/>
            <button class="col btn btn-sm btn-primary ml-2 {{key}}_distractor_PID_CHOICE" type="button" onclick="parsons_toggle_choice('problem[PID][choices][CHOICE][distractor]', null)">
                <i class="fa fa-times"> Distractor ?</i>
            </button>

            <button class="col btn btn-danger btn-sm float-right ml-2" type="button" onclick="parsons_delete_choice('PID', CHOICE)">
                <i class="fa fa-trash"> Delete Choice</i>
            </button>

            <button class="col btn btn-sm btn-primary ml-2 mr-2" type="button" data-toggle="collapse" data-target="#collapse-PID-CHOICE">
                    <i class="fa fa-plus-square"> Advanced mode</i>
            </button>
        </div>
        <div class="collapse" id="collapse-PID-CHOICE">
            <div class="row mt-2">
                <div class="col-sm-12">
                    <textarea id="choice-conditions-PID-CHOICE" class="form-control {{key}}_conditions_PID_CHOICE" name="problem[PID][choices][CHOICE][conditions]"></textarea>
                </div>
            </div>
        </div>
    </div>
</div>