<div class="form-group row">
    <label for="header-PID" class="col-sm-2 control-label">Context</label>
    <div class="col-sm-10">
        <textarea id="header-PID" class="form-control" name="problem[PID][header]"></textarea>
    </div>
</div>
<div class="form-group row">
    <label for="shuffle-PID" class="col-sm-2 control-label">Shuffle choices</label>
    <div class="col-sm-10">
        <input type="checkbox" name="shuffle-PID">
    </div>
</div>
<div class="col-sm-12">
    <h4 class="text-center">Choices - Distractors</h4>
    <div id="choices-PID" class="card-header mt-1 border border-primary border-3 parsons-list-PID">
        {# Parsons choice template - Distractors #}
    </div>
    <button class="btn btn-info btn-sm btn-block mt-2" type="button" onclick="parsons_create_choice('PID', {});">
        <i class="fa fa-plus"></i>
        Add new choice
    </button>


    <h4 class="mt-3" style="text-align: center">Choices - Result</h4>
    <div id="choices-PID" class="card-header mt-1 mb-3 border border-primary border-3 parsons-list-PID parsons-result-PID">
        {# Parsons choice template - Result #}
    </div>
</div>

<script>
    $(document).ready(function() {
        dragAndDropDict["PID_DnD"] = new ParsonsDragAndDrop('PID');
    });
</script>