<div id="subproblem_{{ key }}_choice" style="display:none;">

    <div class="card-header pl-3 pr-3 pt-2 pb-2 mt-1 mb-1 border border-primary">
        <div class="row justify-content-center">
            <button class="btn btn-danger btn-sm ml-2" type="button" onclick="parsons_delete_choice('PID', CHOICE)">
                <i class="fa fa-trash"></i>
            </button>
            <span id="choice-info-PID-CHOICE" class="bg-primary align-middle text-white pl-1 pr-1 pt-2 pb-2 ml-1">#ID</span>
            <textarea rows="1" class="col overflow-hidden form-control {{ key }}_content_CHOICE ml-1" style="resize: none" id="choice-content-PID-CHOICE"
                   name="problem[PID][choices][CHOICE][content]" placeholder="[EMPTY]" onkeyup="textarea_auto_height(this)"></textarea>
            <button class="btn btn-sm btn-primary ml-1 mr-2" type="button" data-toggle="modal"
                    data-target="#modal-PID-CHOICE">
                <i class="fa fa-plus-square"></i>
            </button>

            <input style="display: none" type="number" id="choice-distractor-PID-CHOICE" name="problem[PID][choices][CHOICE][distractor]">
            <input style="display: none" type="number" id="choice-id-PID-CHOICE" name="problem[PID][choices][CHOICE][id]">
        </div>
    </div>


    <div class="modal fade" id="modal-PID-CHOICE" tabindex="-1">
        <div class="modal-dialog modal-xl modal-dialog-centered modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Choice #CHOICE - Advanced parameters</h5>
                    <button type="button" class="btn btn-sm border border-secondary" data-dismiss="modal">
                        X
                    </button>
                </div>
                <div id="modal-body-PID-CHOICE" class="modal-body">

                    <div class="form-group row">
                        <label for="choice-success-msg-PID-CHOICE" class="col-sm-2 control-label">Success message</label>
                        <div class="col-10">
                            <input type="text" id="choice-success-msg-PID-CHOICE" class="form-control" name="problem[PID][choices][CHOICE][success_msg]"
                                placeholder="An optional success message">
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="choice-fail-msg-PID-CHOICE" class="col-sm-2 control-label">Failed message</label>
                        <div class="col-10">
                            <input type="text" id="choice-fail-msg-PID-CHOICE" class="form-control" name="problem[PID][choices][CHOICE][fail_msg]"
                                placeholder="An optional fail message">
                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-info" id="choice-create-distractor-PID-CHOICE" onclick="parsons_create_distractor('PID', CHOICE)">Create distractor</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>