{{ header | safe }}

<div class="row justify-content-center">
    <div class="parsons-list-{{inputId}} col-12 border border-success border-3" style="min-height: 50px">
        {% for choice in choices %}
            <div id="choice-{{inputId}}-{{choice["index"]}}" class="p-2 mt-1 mb-1 border border-primary" draggable="true">{{choice["content"]}}</div>
        {% endfor %}
    </div>
</div>
<div class="row mt-4 justify-content-center" style="min-height: 50px">
    <div class="parsons-list-{{inputId}} parsons-result-{{inputId}} col-12 border border-danger border-3"></div>
</div>

<input type="text" name="{{inputId}}" value="" class="parsons-result-input-{{inputId}} mt-4 col-12"/>

<script>
    $(document).ready(function() {
        new ParsonsDragAndDrop('{{inputId}}')
    });
</script>
