<div class="form-group row">
    <label for="header-PID" class="col-sm-2 control-label">Context</label>
    <div class="col-sm-10">
        <textarea id="header-PID" class="form-control" name="problem[PID][header]"></textarea>
    </div>
</div>

<div class="form-group row">
    <label for="msg-success-PID" class="col-sm-2 control-label">Success message</label>
    <div class="col-sm-10">
        <textarea id="msg-success-PID" class="form-control" name="problem[PID][success_msg]" placeholder="An optional success message"></textarea>
    </div>
</div>

<div class="form-group row">
    <label for="msg-fail-PID" class="col-sm-2 control-label">Failed message</label>
    <div class="col-sm-10">
        <textarea id="msg-fail-PID" class="form-control" name="problem[PID][fail_msg]" placeholder="An optional failed message"></textarea>
    </div>
</div>

<div class="form-group row">
    <label for="indication-PID" class="col-sm-2 control-label">Errors indications level</label>
    <div class="col-sm-10">
        <select id="indication-PID" class="form-control" name="problem[PID][indication]">
            <option selected="selected" value="0">Disabled</option>
            <option value="1">Low (errors in red)</option>
            <option disabled value="2">Medium indication (errors in red, wrong indent or wrong placement in orange) **WIP**</option>
            <option disabled value="3">Full indication (errors in red, wrong indent in yellow, wrong placement in purple) **WIP**</option>
        </select>
    </div>
</div>

<div class="form-group row">
    <label for="grading-PID" class="col-sm-2 control-label">Enable ranged grading</label>
    <div class="col-10">
        <input type="checkbox" id="grading-PID" name="problem[PID][grading]">
    </div>
</div>

<div class="form-group row">
    <label for="indentation-PID" class="col-sm-2 control-label"> Enable indentation (2D problem)</label>
    <div class="col-10">
        <input type="checkbox" id="indentation-PID" name="problem[PID][indentation]" onclick="parsons_toggle_indentation('PID')">
    </div>
</div>

<div class="col-sm-12">
    <div class="card border border-primary mb-3">
        <div class="card-header text-center">
            <h5>Choices - Result</h5>
            <button class="btn btn-info mt-2" type="button" onclick="parsons_create_choice('PID', {});">
                <i class="fa fa-plus"></i>
                Add new choice
            </button>
            <button class="btn btn-info mt-2" type="button" onclick="parsons_generate_from_file('PID')">
                <i class="fa fa-file"></i>
                Generate from file
            </button>
            <button class="btn btn-info mt-2" type="button" onclick="parsons_export_file('PID')">
                <i class="fa fa-download"></i>
                Export to file
            </button>
        </div>

        <div id="choices-PID" style="min-height: 100px"
             class="card-body parsons-result-PID">
            {# Parsons choice template - Result #}
        </div>
    </div>


    <div class="card border border-primary">
        <h5 class="card-header text-center">Choices - Distractors</h5>
        <div id="distractors-PID" style="min-height: 100px" class="card-body parsons-distractors-PID">
            {# Parsons choice template - Distractors #}
        </div>
    </div>
</div>

<input id="inputs-PID" type="text" name="problem[PID][inputs]" value="" class="parsons-result-input-PID mt-4 col-12"/>

<script>
    $(document).ready(function () {
        dragAndDropDict["PID"] = new ParsonsDragAndDrop('PID', {"edit": true});
    });

    function textarea_auto_height(elem){
        elem.style.height = "32px"; // base height for only one line
        elem.style.height = (elem.scrollHeight) + "px"; // multiline height = scrollBar height
    }
</script>
