{{ header | safe }}


<div id="parsons-problem">
    <div class="row justify-content-center">
        <div class="parsons-list col-10 border border-success border-3" style="min-height: 50px">
            {% for choice in choices %}
                <div id="choice-{{choice["index"]}}" class="parsons-item p-2 mt-1 mb-1 border border-primary overflow-hidden" draggable="true">{{choice["content"]}}</div>
            {% endfor %}
        </div>
    </div>
    <div class="row mt-4 justify-content-center" style="min-height: 50px">
        <div class="parsons-list parsons-result col-10 border border-danger border-3"></div>
    </div>
</div>

<input type="text" name="{{inputId}}" value="" class="parsons-result-input mt-4 col-12"/>

<script>
    $(function() {
        var parsons = document.getElementById("parsons-problem");
        parsons_init(parsons, 'choice-');
    });
</script>
